.DS_Store
node_modules
/script
/index.html
/src
.browserslistrc
package-lock.json
pnpm-lock.yaml
rollup.config.js
rollup.config.mjs
rollup.dts.config.mjs
vite.config.ts
vite.plugin.config.ts
/example

vue.config.js
vue.config.ts
.prettierrc
.prettierrc.js
tsconfig.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
